<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <app-manufacture-form></app-manufacture-form>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="row g-3 align-items-center">
                    <div class="col-sm-5">
                        <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label" style="margin-bottom: 10px;margin-left: 35px;">SEARCH FOR MANUFACTURE: </label>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)] = "searchValue_Manu" placeholder="Search" id="inputPassword6"  aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-light table-success">
                    <tr>
                        <th>Num</th>
                        <th>Manufacture Name</th>
                        <th>Address</th>
                        <th>Tel</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of service.list_m | searchManuFature:searchValue_Manu,index as i">
                        <td>{{i+1}}</td>
                        <td (click)="populateForm(m)">{{m.tenNCC}}</td>
                        <td (click)="populateForm(m)">{{m.diachi}}</td>
                        <td (click)="populateForm(m)">{{m.sodienthoai}}</td>
                        <td (click)="populateForm(m)">{{m.email}}</td>
                        <td>
                            <i class="bi bi-trash" (click)="onDelete(m.maNCC)"></i>                     
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

