<nav class="navbar navbar-expand-sm navbar-secondary bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="assets/image/[C]Sorimachi_Viettnam.png" alt="Logo" id="sori">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="" routerLinkActive="active">HOME PAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/customer" routerLinkActive="active">CUSTOMER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/product" routerLinkActive="active">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/manufacture" routerLinkActive="active">MANUFACTURE</a>
        </li>
      </ul>
      <form class="d-flex" >
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button" style="width: 100px;">Search</button>
      </form>
    </div>
  </div>
</nav>
        

