/* You can add global styles to this file, and also import other style files */
input.invalid{
    border-color: red;
}
th{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
td{
    text-align: center;
}