<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <app-customer-form></app-customer-form>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="row g-3 align-items-center">
                    <div class="col-sm-5">
                        <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label" style="margin-bottom: 10px;margin-left: 35px;">SEARCH FOR CUSTOMER: </label>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)] = "SearchCustomer" placeholder="Search" id="inputPassword6" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-light table-success">
                    <tr>
                        <th></th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Type</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of service.list | searchCustomer:SearchCustomer,index as i">
                        <td>{{i+1}}</td>
                        <td (click)="populateForm(c)">{{c.tenKh}}</td>
                        <td (click)="populateForm(c)">{{c.diachi}}</td>
                        <td (click)="populateForm(c)">{{c.loaiKH}}</td>
                        <td (click)="populateForm(c)">{{c.sodienthoai}}</td>
                        <td (click)="populateForm(c)">{{c.email}}</td>
                        <td>
                            <i class="bi bi-trash" (click)="onDelete(c.maKh)"></i>                     
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


